<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="user-profile.component.scss">
</head>
<body>
    <div class="profile-container">
        <div class="outer-box">
          <div class="left-section">
            <!-- Left content goes here (80%) -->
            <img src="./profile-images/images/profile.svg" alt="profile-images" class="profile-images">

          </div>
          <div class="right-section">
            <!-- Right content goes here (20%) -->

            <div class="userImage">
              <img src="./profile-images/images/PROFILE PIC ICON.jpg" class="image"><br>
            </div>
            <div>
              <button class="btn-Property">Update picture</button>
              <button class="btn-Property">Delete picture</button>
            </div>
            <div>
              <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
        
                <label for="email">Email ID:</label>
                <input type="email" id="email" name="email" required>
        
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
        
                <label for="address">Address:</label>
                <input type="text" id="=address" name="address" required>
        
                <button type="submit" id="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    
</body>
</html>

