<!-- card-list.component.html -->
<div class="card-list">
    <mat-card *ngFor="let card of cards" class="card-container">
      
      <img mat-card-image  src="assets/{{card.image}}" alt="{{ card.title }}" id="img-container">
  
      <mat-card-content>
        <h4 class="header">{{ card.title }}</h4>
        <div class="head">
          <div class="internet">
            <mat-card-title class="a">Unlimited</mat-card-title>
            <mat-card-subtitle class="b">Internet</mat-card-subtitle>
          </div>
          <div class="speed">
            <mat-card-title class="a">{{ card.speed }}</mat-card-title>
            <mat-card-subtitle class="b">{{ card.subtitle }}</mat-card-subtitle>
          </div>
        </div>
        <hr>
        <h6 class="c">{{ card.benefits }}</h6>
  
        <div class="purchace">
          <div class="rental">
            <mat-card-title>{{ card.rentalTitle }}</mat-card-title>
            <mat-card-subtitle class="price">{{card.rentalSubtitle}}</mat-card-subtitle>
          </div>
          <div class="buy">
            <button mat-raised-button id="btn" class="btn-paln" routerLink="/viewmoreplan">Add plan</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>