<div>
  <app-navbar></app-navbar>
</div>
<br /><br /><br /><br />

<div class="hero-section">
  <h1>About Us</h1>
</div>

<div class="section">
  <h2>Our Story</h2>
  <p>
    Welcome to RevSpeed, your trusted partner in internet and broadband services.
    Our journey began with a vision to provide seamless online experiences for our customers.
    Over the years, we've grown and evolved, always keeping our customers at the center of everything we do.
  </p>
</div>

<div class="section">
  <h2>Our Mission</h2>
  <p>
    At RevSpeed, our mission is to deliver lightning-fast internet and broadband services that cater to the diverse needs of our customers.
    We aim to provide reliable connectivity for both individuals and businesses, ensuring everyone stays connected in today's digital age.
  </p>
</div>
 
<div class="section">
  <h2>Core Values</h2>
  <ul>
    <li>
      <span>Customer-Centric:</span> Putting our customers' needs at the
      forefront of everything we do.
    </li>
    <li>
      <span>Innovation:</span> Embracing technological advancements to
      provide cutting-edge solutions.
    </li>
    <li>
      <span>Reliability:</span> Ensuring the reliability and stability of
      our internet and broadband services.
    </li>
    <li>
      <span>Transparency:</span> Keeping our customers informed and
      maintaining transparency in our operations.
    </li>
    <li>
      <span>Collaboration:</span> Fostering a collaborative environment to
      drive success as a team.
    </li>
  </ul>
</div>

<div class="section">
  <h2>Our Team</h2>
  <p>
    RevSpeed is powered by a passionate and skilled team of professionals who are committed to excellence.
    From frontend developers crafting intuitive interfaces to backend experts ensuring robust functionality,
    our team works collaboratively to bring you the best online account management experience.
  </p>
</div>

<!-- <div class="section">
  <h2>Meet Our Team</h2>
</div>

<div class="cardContainer">
<div class="card-section" *ngFor="let team of teams">
  <div class="card" (mouseover)="addHoverEffect($event)" (mouseout)="removeHoverEffect($event)">
    <img src="assets/{{team.image}}" alt="loading">
    <h3>{{ team.name }}</h3>
    <p>{{ team.role }}</p>
  </div>
</div>
</div> -->


<div class="section">
  <h2>Contact Us</h2>
  <p>
    If you have any questions, feedback, or inquiries, feel free to reach out to
    us. We value your input and are here to assist you.
  </p>
</div>

<app-footer></app-footer>