<div>
  <app-navbar></app-navbar>
</div>

<div class="container">
  <br><br><br><br><br><br>
  <h1>Welcome to DTH Service</h1>
  <br>
  <p>
    Explore a world of entertainment with our diverse channel lineup, crystal-clear picture quality, and seamless service.<br> 
    Elevate your TV experience with our premium DTH offerings.<br>
    Choose a plan that suits your preferences, and immerse yourself in an unparalleled viewing journey.
  </p>

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="English">
        <app-english-plan></app-english-plan>
    </mat-tab>
    <mat-tab label="Hindi">
       <app-hindi-plan></app-hindi-plan>
    </mat-tab>
    <mat-tab label="Tamil">
      <app-tamil-plan></app-tamil-plan>
  </mat-tab>
  </mat-tab-group>

  <div class="plans">
    <div class="plan">
      <h2>English</h2>
      <ul>
        <li>
          <strong>Description:</strong> Dive into a world of entertainment with our English channel lineup.
        </li>
        <li>
          <strong>Channels: </strong>Curated selection from ABC, CBS, NBC, FOX, The CW, BBC America, FX, HBO, AMC, TNT, and more.
        </li>
        <li>
          <strong>Price:</strong>  Explore the best in English entertainment starting at [Price].
        </li>
      </ul>
    </div>

    <div class="plan">
      <h2>Hindi</h2>
      <ul>
        <li>
          <strong>Description:</strong>  Immerse yourself in the richness of Hindi entertainment.
        </li>
        <li>
          <strong> Channels: </strong>Handpicked collection featuring popular Hindi channels.
        </li>
        <li>
          <strong>Price:</strong> Indulge in the vibrancy of Hindi content starting at [Price].
        </li>
      </ul>
    </div>
    <div class="plan">
      <h2>Tamil</h2>
      <ul>
        <li>
          <strong>Description:</strong>Experience the magic of Tamil entertainment.
        </li>
        <li>
          <strong> Channels: </strong>A diverse array of channels offering Tamil content.
        </li>
        <li>
          <strong>Price:</strong>Enjoy the best of Tamil entertainment starting at [Price].
        </li>
      </ul>
    </div>
  </div>

  <div class="special-offers">
    <h2>First Month Free</h2>
    <ul>
      <li>
        <strong>Offer Details:</strong><p> Sign up today for any of our DTH plans and enjoy the first month absolutely free! 
          Explore a world of entertainment without any charges for the initial month.</p>
      </li>
      <h2>Family Bundle:</h2>
      <li>
        <strong>Offer Details:</strong><p> Families subscribing to our DTH service will receive a complimentary set-top box for an additional room. 
          Expand your entertainment to multiple areas of your home without extra costs.</p>
      </li>
      <h2>HD Upgrade:</h2>
      <li>
        <strong>Offer Details:</strong><p>Upgrade to our HD DTH plan today and experience television like never before. 
          Enjoy crystal-clear picture quality and vibrant colors with our complimentary HD upgrade.</p>
      </li>
    </ul>
  </div>

  <hr>

  <div class="cta">
    <h2>Elevate Your Entertainment with RevDTH!!!</h2>
    <p>Elevate Your Entertainment with RevDTH!
       Discover a world of captivating television experiences with RevDTH. 
      Whether you're enjoying your favorite shows at home or looking for seamless entertainment solutions for your business, 
      we're here to enhance your viewing experience. 
      Join RevDTH today and stay connected like never before!
    </p>
  </div>
</div>

<app-footer></app-footer>