<div class="dashboard">
  <div class="left">
    <div class="cards">
      <div class="card">
        <app-totalsubscribercard></app-totalsubscribercard>
      </div>
      <div class="card">
        <app-totalreveneucard></app-totalreveneucard>
      </div>
    </div>
    <div class="pies">
      <div class="pie">
        <app-broadbandpiechart></app-broadbandpiechart>
      </div>
      <div class="pie">
        <app-dthpiechart></app-dthpiechart>
      </div>
    </div>
  </div>
  <div class="reveneu-graph right">
    <app-reveneugraph></app-reveneugraph>
  </div>
</div>
<div class="active-user">
  <app-activeinactiveusergraph></app-activeinactiveusergraph>
</div>
