.nav-bar {
    background-color: #19212a;
    height: 90px;
    font-size: larger;
    font-family: serif;
    font-weight: bold;

    p {
        font-size: 25px;
        color: #fff;
        font-family: system-ui;
        border-bottom: 4px double;
        padding-bottom: 10px;
        width: 50px;
        border-top: 4px double;
        margin-top: 8px;
        border-left: 4px double;
        padding-left: 10px;
        border-radius: 15px 0;
        transition: color 0.3s;

        &:hover {
            cursor: pointer;
            color: #ff9a71;
        }
    }

    a {
        color: #fff;
        margin: 0 15px;
        transition: color 0.3s, border-bottom 0.3s, border-radius 0.3s;

        &:hover {
            color: #f05e23;
            border-bottom: 2px solid #f05e23;
            border-radius: 0;
        }
    }

    .btn {
        padding: 4px 11px;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        margin: 0 5px;
        width: 100px !important;
        margin-top: 0px !important;
    }

    .register {
        background: linear-gradient(90deg,
                rgba(194, 29, 3, 1) 31%,
                rgba(253, 87, 50, 1) 100%,
                rgba(255, 183, 135, 1) 100%);

        &:hover {
            background: linear-gradient(90deg,
                    rgb(233, 99, 78) 31%,
                    rgb(247, 118, 89) 100%,
                    rgba(255, 183, 135, 1) 100%);
        }
    }

    .login {
        background: linear-gradient(270deg,
                rgba(255, 152, 63, 1) 0%,
                rgba(255, 102, 0, 1) 100%,
                rgba(255, 255, 161, 1) 100%);

        &:hover {
            background: linear-gradient(270deg,
                    rgb(255, 125, 12) 0%,
                    rgb(194, 79, 2) 100%,
                    rgba(255, 255, 161, 1) 100%);
        }
    }
}

.example-spacer {
    flex: 1 1 auto;
}

img {
    height: 40px;
}

@media screen and (max-width: 768px) {
    img {
        height: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    img {
        height: 50px;
    }
}

@media screen and (min-width: 1201px) {
    img {
        height: 60px;
    }
}

mat-toolbar {
    background-color: #19212a;
    height: 90px;
    font-size: larger;
    font-family: serif;
    font-weight: bold;

    mat-icon,
    span {
        color: #fff;
    }

    p {
        font-size: 25px;
        color: #fff;
        font-family: system-ui;
        border-bottom: 4px double;
        padding-bottom: 10px;
        width: 50px;
        border-top: 4px double;
        margin-top: 8px;
        border-left: 4px double;
        padding-left: 10px;
        border-radius: 15px 0;
        transition: color 0.3s;

        &:hover {
            cursor: pointer;
            color: #ff9a71;
        }
    }

    a {
        color: #fff;
        margin: 0 15px;
        transition: color 0.3s, border-bottom 0.3s, border-radius 0.3s;

        &:hover {
            color: #f05e23;
            border-bottom: 2px solid #f05e23;
            border-radius: 0;
        }
    }
}

//dark theme icon

.toggle-button {
    margin-left: 10px;
    /* Adjust the margin as needed */
    color: white;
    /* Change the color as needed */
}

button {
    padding: 4px 11px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin: 0 5px;
    width: 100px !important;
    margin-top: 0px !important;
    font-weight: 500;
    background: linear-gradient(270deg,
            rgba(255, 152, 63, 1) 0%,
            rgba(255, 102, 0, 1) 100%,
            rgba(255, 255, 161, 1) 100%);

    &:hover {
        background: linear-gradient(270deg,
                rgb(255, 125, 12) 0%,
                rgb(194, 79, 2) 100%,
                rgba(255, 255, 161, 1) 100%);
    }
}