<div>
  <app-navbar></app-navbar>
</div>

<div class="container">
  <br><br><br><br><br><br>
  <h1>Welcome to Broadband Service</h1>
  <br>
  <p>
    At our Broadband Service, we're dedicated to providing you with
    lightning-fast internet. Whether you're at home or running a business, our
    broadband plans cater to your needs.
  </p>

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Individual">
        <app-individualplan></app-individualplan>
    </mat-tab>
    <mat-tab label="Business">
        <app-businessplan></app-businessplan>
    </mat-tab>
  </mat-tab-group>

  <div class="plans">
    <div class="plan">
      <h2>Individual Plans</h2>
      <ul>
        <li>
          <strong>Starter Plan:</strong> Perfect for light internet users.
          Speeds of up to 230 Mbps. Ideal for browsing, streaming, and
          staying connected.
        </li>
        <li>
          <strong>Family Plan:</strong> Designed for households with multiple
          devices. Enjoy blazing fast speeds of 400 Mbps. Stream, work, and
          game without interruptions.
        </li>
        <li>
          <strong>Ultimate Plan:</strong> For power users who demand the best.
          Lightning-fast speeds of 450+ Mbps. Ideal for 4K streaming, gaming,
          and more.
        </li>
      </ul>
    </div>

    <div class="plan">
      <h2>Business Plans</h2>
      <ul>
        <li>
          <strong>Startup Package:</strong> Tailored for small businesses.
          Reliable speeds of 230 Mbps. Perfect for email, video
          conferencing, and online transactions.
        </li>
        <li>
          <strong>Enterprise Solution:</strong> Scalable for growing businesses.
          High-speed internet at 400 Mbps. Supports heavy data usage and
          multiple users.
        </li>
        <li>
          <strong>Corporate Elite:</strong> Unparalleled connectivity for large
          enterprises. Speeds reaching 450+ Mbps. Dedicated bandwidth for
          seamless operations.
        </li>
      </ul>
    </div>
  </div>

  <div class="special-offers">
    <h2>Special Offers</h2>
    <ul>
      <li>
        <strong>First Month Free:</strong><p> Sign up today and get your first
        month of broadband service absolutely free. Experience the difference
        risk-free.</p>
      </li>
      <li>
        <strong>Business Bundle:</strong><p> Business subscribing to our service
        get a complimentary router and installation. Set up your office for
        success without extra costs.</p>
      </li>
    </ul>
  </div>

  <hr>

  <div class="cta">
    <h2>Join RevSpeed Today!!!</h2>
    <p>
      Discover the world of fast and reliable internet with RevSpeed. Whether you're streaming your favorite shows at home or
      powering your business operations, we are here to elevate your online
      experience. Join us today and stay connected like never before!
    </p>
  </div>
</div>

<app-footer></app-footer>