<h2>Popular DTH Plans!!!</h2>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" >

    <mat-tab label="English" class="custom-tab-label">
        <div class="plan-tab-container">
            <app-english></app-english>
        </div> 
    </mat-tab>

    <mat-tab label="Tamil" class="custom-tab-label">
        <div class="plan-tab-container">
           <app-tamil></app-tamil>
        </div>
    </mat-tab>

    <mat-tab label="Hindi" class="custom-tab-label">
        <div class="plan-tab-container">
          <app-hindi> </app-hindi>
          <br><br>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="plan-tab-view-more">
    <button mat-raised-button id="btn1" class="plan-tab-view-more-btn" routerLink="/viewdetailedplan">View More Plans</button>
</div> 