/* Add this to your plan-tab.component.scss file */

h2 {
    font-size: 24px;
    margin-top: 7%;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    border-bottom: 3px solid #f05e23;
    width: 35%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  p {
    font-size: 16px;
  }
  
  .mat-tab-group {
    padding: 10px;
    background-color: #f5d4d4;
    mat-tab-group {
      padding: 10px;
      background-color: #f9f9f9;
      max-height: 80vh;
      overflow-y: auto;
      position: relative;
    }
  
    .plan-tab-container {
      padding: 10px; /* Adjust the padding as needed */
    }
  
    .plan-tab-view-more {
      text-align: center;
      padding: 10px;
      width: 100%;
    }
    #btn1 {
      padding: 30px 0; /* Adjust the padding as needed */
    }
  
    ::ng-deep .mat-tab-label {
      color: #120f0f;
      font-size: 100%;
      margin: 0 8px;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
      background-color: #2196f3;
    }
  
    ::ng-deep .mat-tab-label:hover {
      background-color: #db1e1e;
    }
  
    ::ng-deep .mat-tab-label.mat-tab-label-active {
      background-color: #2196f3;
      color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
      border-radius: 4px;
    }
  
    ::ng-deep .mat-tab-label.mat-tab-label-active:hover {
      background-color: #0c7cd5;
    }
  
    ::ng-deep .mat-tab-label.mat-tab-label-active:focus,
    ::ng-deep .mat-tab-label.mat-tab-label-disabled:focus {
      outline: none;
    }
  
    ::ng-deep .custom-tab-label {
      background-color: coral;
      color: #fff;
      font-weight: bold;
    }
  
    ::ng-deep .custom-tab-label:hover {
      background-color: darkorange;
    }
  
    ::ng-deep .custom-tab-label.mat-tab-label-active {
      background-color: darkorange;
    }
  
    @media screen and (max-width: 768px) {
      .mat-tab-label {
        font-size: 14px;
        margin: 0 4px; /* Adjust the margin as needed */
      }
  
      h2 {
        font-size: 20px;
      }
  
      p {
        font-size: 14px;
      }
  
      .plan-tab-container {
        padding: 5px; /* Adjust the padding as needed */
      }
    }
  
    @media screen and (max-width: 480px) {
      h2 {
        font-size: 18px;
      }
  
      p {
        font-size: 12px;
      }
  
      .mat-tab-label {
        font-size: 12px;
        margin: 0 2px; /* Adjust the margin as needed */
      }
  
      .plan-tab-container {
        padding: 2px; /* Adjust the padding as needed */
      }
    }
  
    .mat-mdc-tab-body-content {
      height: 100%;
      overflow: auto;
      overflow-y: hidden;
    }
  }
  
  .plan-tab-view-more-btn {
    display: block;
      margin: 18px auto 18px auto;
      margin-right: auto;
      background: linear-gradient(90deg, rgb(194, 29, 3) 31%, rgb(253, 87, 50) 100%, rgb(255, 183, 135) 100%);
      color: #fff !important;
      border-radius: 5px;
      padding: 0 50px;
  }