<!-- my-plan.component.html -->

<h2>Customer History</h2>

<div class="table">
    <table mat-table [dataSource]="customerHistory">

        <!-- Service Column -->
        <ng-container matColumnDef="purchasedService">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let item"> {{ item.purchasedService }} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="servicePrice">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let item"> ${{ item.servicePrice }} </td>
        </ng-container>

        <!-- Row with columns -->
        <tr mat-header-row *matHeaderRowDef="['purchasedService', 'servicePrice']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['purchasedService', 'servicePrice'];"></tr>

    </table>
</div>